
# log level. optional. default: Basic
# possible values: Nothing, Error, Minimal, Basic, Detailed, Debug, RowLevel
HOP_LEVEL=Basic

# the hop file to run. mandatory.
# needs to point to a file in a folder of a volume mount
HOP_FILE=/files/test2.hpl

# the home folder of the Configuration. optional. default: /opt/hop/config
# can point to a folder of a volume mount
# HOP_CONFIG_DIRECTORY=/opt/hop/config

# parameters as key/value pairs. optional.
# separate multiple parameters with a comma
HOP_PARAMETERS=outputfolder=/files/test2,outputfilename=file1

# system properties as key/value pairs. optional.
# separate multiple pairs using a comma
# HOP_SYSTEM_PROPERTIES=

# name of the run config to use - either pipeline or workflow. optional.
# mandatory if a different config directory is specified through HOP_CONFIG_DIRECTORY
# HOP_RUNCONFIG=default

# default pipeline run configuration. optional.
# a local pipeline engine is used
# HOP_PIPELINE_RUNCONFIG_FEEDBACK_SIZE=10000
# HOP_PIPELINE_RUNCONFIG_ROWSET_SIZE=5000
# HOP_PIPELINE_RUNCONFIG_SAFE_MODE=N
# HOP_PIPELINE_RUNCONFIG_SHOW_FEEDBACK=N
# HOP_PIPELINE_RUNCONFIG_GATHER_METRICS=N
# HOP_PIPELINE_RUNCONFIG_TOPO_SORT=N

# default workflow run configuration. optional.
# a local pipeline engine is used
# HOP_WORKFLOW_RUNCONFIG_SAFE_MODE=N

# force execution of a pipeline. optional.
# if cannot be determined by the file extension
# HOP_FORCE_PIPELINE=1

# force execution of a workflow. optional.
# if cannot be determined by the file extension
# HOP_FORCE_WORKFLOW=1

# set Java specific options for running hop
HOP_OPTIONS=-Xmx2048m

# environment to use
# currently there is only this one configuration. you can adjust the settings
# using the HOP_ENVIRONMENT_ variables in the next section
# HOP_ENVIRONMENT=default

# various optional settings for the environment configuration
# HOP_ENVIRONMENT_HOME_FOLDER=/opt/hop/config
# HOP_ENVIRONMENT_ID=default
# HOP_ENVIRONMENT_DESCRIPTION=default environment
# HOP_ENVIRONMENT_PROJECT=
# HOP_ENVIRONMENT_COMPANY=
# HOP_ENVIRONMENT_DEPARTMENT=
# HOP_ENVIRONMENT_VERSION=
# HOP_ENVIRONMENT_ENFORCE_EXECUTION_IN_ENVIRONMENT=N
# HOP_ENVIRONMENT_NAME=default
