
# log level
# possible values: Nothing, Error, Minimal, Basic, Detailed, Debug, RowLevel
HOP_LEVEL=Basic

# the hop file to run
HOP_FILE=/files/test2.hpl

# parameters. key/value pairs. separate multiple parameters with a comma
HOP_PARAMETERS=outputfolder=/files/test2,outputfilename=file1

# system properties. key/value pairs. separate multiple ones with a comma
# HOP_SYSTEM_PROPERTIES=

# name of the run configuration
# currently there is only this configuration. you can adjust the settings
# using the HOP_RUNCONFIG_ variables in the next section
# HOP_RUNCONFIG=default

# various settings for the run configuration.
# a local pipeline engine is used
HOP_RUNCONFIG_FEEDBACK_SIZE=10000
HOP_RUNCONFIG_ROWSET_SIZE=5000
HOP_RUNCONFIG_SAFE_MODE=N
HOP_RUNCONFIG_SHOW_FEEDBACK=N
HOP_RUNCONFIG_GATHER_METRICS=N
HOP_RUNCONFIG_TOPO_SORT=N

# environment to use
# HOP_ENVIRONMENT=

# force execution of a pipeline
# HOP_PIPELINE=1

# force execution of a workflow
# HOP_WORKFLOW=1

# set java specific options for running hop
HOP_OPTIONS=-Xmx2048m
